{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "objectWrap": "preserve",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "tailwindConfig": "./tailwind.config.js",
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
