html {
  @apply min-h-screen;
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  /* background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%231f2937' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E"); */

  @apply min-h-screen text-gray-900;
}

#__next {
  @apply flex flex-col h-screen;
}

/* #__next > span {
  @apply flex flex-col h-screen;
} */

@layer components {
  .padded-container {
    @apply px-6 py-8 pt-8 sm:py-12 sm:pt-12 sm:px-6 lg:px-8 max-w-4xl mx-auto bg-white bg-opacity-10 dark:bg-almostblack;
  }

  .dark-shadow {
    /* this is so dumb */
    filter: drop-shadow(0px 1.5px 0px rgba(0, 0, 0, 0.9))
      drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4))
      drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.6));
  }
  /* initial implementation of custom utility to transition gradient to transparent on hover */
  /* this functionality is not provided by tailwind OOB */

  .negative-z {
    z-index: 1 !important;
  }
  .tag-gradient-hover {
    position: relative;
    display: block;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      opacity: 1;
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      /* need to set z-index so that this bg doesn't cover */
      z-index: -10;
      transition: all 0.3s ease-in;

      @apply bg-gradient-to-br from-gray-100 to-gray-50 dark:bg-gradient-to-l dark:from-gray-900 dark:to-gray-900 dark:via-almostblack;
    }

    &:hover::after {
      opacity: 0;
    }
  }

  .container-padding {
    @apply px-4 py-8 pt-2 sm:py-12 sm:pt-12 sm:px-6 lg:px-8;
  }

  .custom-container {
    @apply container max-w-4xl mx-auto;
  }

  .wavy-lines-bg {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%231f2937' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .rcrsv-custom-label {
    @apply rcrsv;

    --wght: "wght" 500;
    --CRSV: "CRSV" 0;
    --casl: "CASL" 0;
    --mono: "MONO" 1;
    --slnt: "slnt" -7;
    font-variation-settings: var(--wght), var(--CRSV), var(--casl), var(--mono),
      var(--slnt);
  }
  .rcrsv-mono {
    @apply rcrsv;

    --CRSV: "CRSV" 0;
    --casl: "CASL" 0;
    --mono: "MONO" 0.7;
    --wght: "wght" 400;
    --slnt: "slnt" -7;

    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
      var(--CRSV);
  }
}

@layer utilities {
  .rcrsv {
    font-family: "Recursive", "ui-monospace", "SFMono-Regular", "Menlo",
      "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
  }
}
