/* From:

https://github.com/google/fonts/issues/2386#issuecomment-691503098 

pyftsubset Inter.ttf \
  --unicodes="U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD" \
  --layout-features="" \
  --flavor="woff2" \
  --output-file="Inter-subset-2.woff2"

*/

/* latin */
@font-face {
  font-family: "Inter";
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-var-latin-21-07-22-2.woff2") format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

/* address,
cite,
dfn,
em,
h3,
h5, */
.italic,
i,
var {
  font-variation-settings: "slnt" -8;
  font-style: oblique 8deg;
}

@supports (-moz-appearance: none) {
  .italic,
  address,
  cite,
  dfn,
  em,
  h3,
  h5,
  i,
  var {
    font-style: normal;
  }
}

@supports (font-variation-settings: normal) {
  .font-label {
      --slnt: "slnt" 0;
    --casl: "CASL" 0.19;
    --CRSV: "CRSV" 1;
    --mono: "MONO" 0;
    font-variation-settings: var(--mono), var(--casl), var(--slnt), var(--CRSV);
  }
  .font-label_mono {
    --casl: "CASL" 0;
    --slnt: "slnt" 0;
    --CRSV: "CRSV" 0;
    --mono: "MONO" 1;
    font-variation-settings: var(--mono), var(--casl), var(--slnt), var(--CRSV);
  }
}
